Feature request: RFC compliance testing

Hi,

could it be possible to enhance EvoMaster in such a way that it tests the REST API if it complies to following RFC standards:
- RFC 9110: HTTP Semantics
- RFC 3986 - Uniform Resource Identifier (URI): Generic Syntax
- RFC 5789 - PATCH Method for HTTP
- RFC 6902 - JSON Patch
- RFC 7396 - JSON Merge Patch
- RFC 9535 - JSONPath (GET)
- RFC 5988 - Web Linking (HATEOAS)
- Test if resource collection sorting returns sorted results

Br,
Alen

yes!

@aruvic  doing this was already on our TODO list for this year. we are currently in the middle of some major refactoring, needed before we can tackle this. hopefully, parts of those will be done during the summer
